*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
 
  }

/* NavBarre */
.logo{
  width: 3.5rem;
}
.imgUser{
  width: 2rem;
  border-radius: 50%;
}
.navColor{
  background-color: rgba(0, 59, 94, 0.9);
 /* background-color: rgb(219, 203, 150);*/
}
.navbar-nav a,.user-icons i{
      color: rgb(252, 252, 252);     
      font-size: 1.8rem;
      cursor: pointer;
      border-radius: 1rem;      
}
.navbar-nav a{
font-family: "Montserrat", sans-serif;
padding: 0.2rem;
}
.user-icons i{
position: relative;
padding: 0.6rem;
}
.notif{
  position: absolute;
  top: 1rem;
  right: 5rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: rgba(202, 48, 2, 0.9);
  border-radius: 50%;
}
.custom-dropdown {
position: absolute; 
color: white;
transform: translate(-60%, 15px); 
}
.dropdown-toggle::after {
color: white;
  /*position: absolute;
  top: 50%; 
  left: 90%; 
  transform: translateX(-50%); 
  font-size: 25px;  */
}
.navbar-nav a:hover,.navbar i:hover, .imgUser:hover {
color: rgb(22, 17, 68);
scale: 1.05; 
background-color: rgba(69, 164, 219, 0.4);
  
}
.dropdown-menu .dropdown-item {
  color: rgba(0, 59, 94, 0.9);
  font-weight: bold; 
  font-size:1.1rem;
}

.dropdown-menu .dropdown-item:hover {
  color: rgba(202, 48, 2, 0.9);
  background-color: #f1f1f1;
}
.user-icons {
display: flex;
align-items: center;
order: 2;
}


@media (max-width: 992px) {
.user-icons {
  position: absolute;
  top: 34px;
  left: calc(100% - 185px); 
  transform: translateY(-50%);
  z-index: 10;
}
.notif{
  top: 0.5rem;
  right: 3.5rem;
  z-index: 10;
}
.navbar-nav a{
  margin-top: 0.6rem;
font-size: 1.2rem; 
padding: 0.2rem 0.8rem  !important;  
}

.dropdown-toggle::after {
  content: none !important;
}

.navbar-toggler {
  position: relative;
  z-index: 20;
  background-color: white !important; 
}
.navbar-nav a:hover,.navbar i:hover, .imgUser:hover {   
    scale: 1; 
}
.dropdown-menu .dropdown-item {
  font-size:1rem;
}
.dropdown-item{
  color: rgb(255, 255, 255);
 }
 .dropdown-item:hover{
  color: rgb(7, 0, 0);
 }
} 

/* cartes candidats */
.containerCartes {
  width: 100%;
  display: flex;
  overflow-x: auto;
  background-color: rgba(46, 46, 46, 0.8);
  background: linear-gradient(0deg, #1b1b1b, #bcd0fc, #313131);
  background: linear-gradient(0deg, rgba(0, 59, 94, 0.9), rgba(247, 247, 247, 0.877), rgba(0, 59, 94, 0.9));
}
.containerCartes::-webkit-scrollbar {
  height: 12px;
}
.containerCartes::-webkit-scrollbar-thumb {
  background-color: rgba(0, 59, 94, 0.9);
  border-radius: 1rem;
}
.cartes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  margin: 2rem 1rem;
  width: 320px;
  background-color: rgb(54, 104, 188);
  border-radius: 2rem;
  border: 4px solid rgb(232, 232, 232);
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  flex-shrink: 0;
  animation: apparition 0.8s ease forwards;
  box-shadow: 10px 5px 25px rgba(11, 8, 189, 0.349);
}

.cartes:first-child {
  margin-left: 2rem;
}

@keyframes apparition {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.infoCandidats {
  width: 100%;
  position: relative;
}

.cartes img {
  width: 60%;
  opacity: 100%;
}

.statut,
.poste {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.statut {
  top: 0;
  color: rgb(83, 215, 80);
  font-size: 1rem;
}

.poste {
  top: 60%;
  font-size: 1.2rem;
  color: white;
}

.note {
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 1.6rem;
}

.note,
.hardNote {
  color: rgb(255, 255, 255);
}

.fa-star {
  position: absolute;
  top: 20%;
  right: 10%;
  font-size: 1.6rem;
  color: rgb(228, 226, 226);
  transition: color 0.5s ease;
  cursor: pointer;
}

.fa-star.active {
  scale: 1.2;
  color: rgb(214, 129, 18);
}

.titleSK {
  position: absolute;
  text-align: start;
  top: 90%;
  left: 5%;
  font-size: 1rem;
}
.HK {
  justify-content: flex-start; 
  width: 100%; 
}
.titleHK {
  font-size: 1rem;
  margin-top: -1rem; 
}

.softSkills {
  font-size: 0.9rem;
  color: white;
  
}

.hardNote {
  font-size: 1.1rem;
}

.competence {
  width: 50%;
  margin-bottom: -0.8rem;
}

.btnViewProfil {
  width: 120px;
  background-color: rgb(83, 215, 80);
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  padding: 0.2rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btnViewProfil:hover {
  background-color: rgb(60, 173, 58);

}
@media (max-width: 767px) {
  .containerCartes {
    flex-direction: column;
    align-items: center;
  }

  .containerCartes::-webkit-scrollbar {
    display: none;
  }

  .cartes {
    width: 80%;
    height: auto;
    margin: 1rem auto;
  }

  .cartes:first-child {
    margin: 1rem auto;
    margin-top: 2rem;
  }

  .statut {
    font-size: 1.4rem;
  }

  .poste {
    font-size: 1.6rem;
  }

}